<!DOCTYPE html>
<html>
  <head>
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios@0.12.0/dist/axios.min.js"></script>
    <link rel="stylesheet" href="sample.css">
  </head>
  <body>
    <div id="app">
      <div>
        <label>
        質問を入力:
        <input type="text" v-model="question">
        </label>
        <button v-on:click="add()">送信</button>
      </div>
      
      <!-- 回答 -->
      <table>    
        <thead>
          <tr>
            <td>日時</td>
            <td>質問</td>
            <td>回答</td>
            <td>画像</td>
            <td>削除</td>
          </tr>
        </thead>
        <tbody>
          <tr v-for="(item, index) in items">
            <td>{{ item.date | date-filter }}</td><!-- 日時 -->
            <td>{{ item.question }}</td><!-- 質問 -->
            <td>{{ item.answer }}</td><!-- 回答 -->
            <td><img v-bind:src="item.image" width="100" height="100"></td>
            <td><button v-on:click="remove(index)">削除</button></td>
          </tr>
          
          <!-- 合計行 -->
          <tr>
            <td colspan="5">合計: {{total}}件</td>
          </tr>
        </tbody>
      </table>
    </div>
    <script src="./sample.js"></script>
  </body>
</html>

<!-- ここから -->

